<script>
    socket.on("prix",(prix)=>{
        document.getElementById("prix").innerText = prix
        Array.from(document.getElementsByClassName("benfpourcentage")).forEach((element)=>{
            Qactif=document.querySelectorAll(".{{MONEY_ECHANGE}}[orderid='"+element.getAttribute("orderid")+"']")[0].innerText
            Qpricipal=document.querySelectorAll(".{{MONEY_PRINCIPAL}}[orderid='"+element.getAttribute("orderid")+"']")[0].innerText
            date=document.querySelectorAll(".{{DATE}}[orderid='"+element.getAttribute("orderid")+"']")[0].innerText
            prixbuy = Qpricipal/Qactif
            newprix = prixbuy*Math.pow(1+0.06/(365*24*60*60),(new Date().getTime()-new Date(date).getTime())/1000)
            document.querySelectorAll(".newprix[orderid='"+element.getAttribute("orderid")+"']")[0].innerText = newprix
            document.querySelectorAll(".prixbuy[orderid='"+element.getAttribute("orderid")+"']")[0].innerText = prixbuy
            document.querySelectorAll(".benef[orderid='"+element.getAttribute("orderid")+"']")[0].innerText = ((prix-newprix)*Qactif)+" {{MONEY_PRINCIPAL}}"
            element.innerText = (prix-newprix)*Qactif/newprix
        })
    })
</script>