<form method="post">
    <p>quantité <span tal:content="MONEY_PRINCIPAL"></span></p>
    <input id="prix1" type="number" step="0.00000001" tal:attributes="name MONEY_PRINCIPAL; value inforder and inforder[0].get(MONEY_PRINCIPAL, '')">
    
    <p>quantité <span tal:content="MONEY_ECHANGE"></span></p>
    <input type="number" step="0.00000001" tal:attributes="name MONEY_ECHANGE; value inforder and inforder[0].get(MONEY_ECHANGE, '')">
    
    <p>date</p>
    <input type="datetime-local" tal:attributes="name DATE; value inforder and inforder[0].get(DATE, '')">
    
    <input type="submit" value="ajouter" name="add">
</form>