    <p>prix actuel : <span tal:content="prix" id="prix"></span></p>
    <table>
        <tr>
            <td>
                id
            </td>
            <td>
                date/heur achat
            </td>
            <td>
                prix achat
            </td>
            <td>
                quantié
            </td>
            <td>
                benefice - penalité
            </td>
            <td>
                button sell
            </td>
            <td>
                suprimer
            </td>
            <td>
                edit
            </td>
        </tr>
        <tr tal:attributes="id order.id" tal:repeat="order orders">
            <td tal:content="order.id"></td>
            <td tal:content="order[DATE]"></td>
            <td tal:content="order[QUANTITEACTIF]"></td>
            <td tal:content="order[QUANTITEPRINCIPAL]"></td>
            <td>
                <button>sell</button>
            </td>
            <td>
                <button>del</button>
            </td>
            <td>
                <button>edit</button>
            </td>
        </tr>
    </table>
    <form method="post">
        <p>prix</p><input id="prix1" tal:attributes="name CAPITAL_TOTAL">
        <p>date</p><input type="date" tal:attributes="name QUANTITEPRINCIPAL">
        <p>quntité</p><input tal:attributes="name QUANTITEACTIF">
        <input type="submit" value="ajouter" name="add">
    </form>
    <p>buy</p>
    <form method="post">
        <p>prix <p tal:replace="MONEY_PRINCIPAL"></p><input>
        <p>prix <p tal:replace="MONEY_ECHANGE"></p><input>
        <input  type="submit" value="buy">
    </form>