    <p>prix actuel : <span tal:content="prixact" id="prix"></span></p>
    <p>sell prix actuel : <span tal:content="sellprix" id="sellprix"></span></p>
    <p>buy time : <span tal:content="sellprix" id="buytime"></span></p>
    <form method="post">
        <table id="order">
            <tr>
                <td>
                    id
                </td>
                <td>
                    date/heur achat
                </td>
                <td tal:content="MONEY_PRINCIPAL">
                </td>
                <td tal:content="MONEY_ECHANGE">
                </td>
                <td>
                    prix buy
                </td>
                <td>
                    new prix
                </td>
                <td>
                    benefice {{MONEY_PRINCIPAL}}
                </td>
                <td>
                    benefice - penalité en %
                </td>
                <td>
                    button sell
                </td>
                <td>
                    suprimer
                </td>
                <td>
                    edit
                </td>
            </tr>
            <tr tal:attributes="id order.id" tal:repeat="order orders">
                <td tal:content="order.id"></td>
                <td tal:attributes="class DATE ; orderid order.id" tal:content="order[DATE]"></td>
                <td tal:attributes="class MONEY_PRINCIPAL ; orderid order.id" tal:content="order[MONEY_PRINCIPAL]"></td>
                <td tal:attributes="class  MONEY_ECHANGE; orderid order.id" tal:content="order[MONEY_ECHANGE]"></td>
                <td class="prixbuy" tal:attributes="orderid order.id"></td>
                <td class="newprix" tal:attributes="orderid order.id"></td>
                <td class="benef" tal:attributes="orderid order.id"></td>
                <td class="benfpourcentage" tal:attributes="orderid order.id"></td>
                <td>
                    <button tal:attributes="value order.id" name="sell">sell</button>
                </td>
                <td>
                    <button tal:attributes="value order.id" name="del">del</button>
                </td>
                <td>
                    <button tal:attributes="value order.id" name="edit">edit</button>
                </td>
            </tr>
        </table>
    </form>
    {% include 'www/edit.html' %}
    <p>buy</p>
        <p>prix <p tal:replace="MONEY_PRINCIPAL"></p><input type="number" step="0.00000001" id="buyP" tal:attributes="name MONEY_PRINCIPAL">
    <form method="post">
        <p>prix <p tal:replace="MONEY_ECHANGE"></p><input type="number" step="0.00000001" id="buyA" tal:attributes="name MONEY_ECHANGE">
        <input  type="submit" name="buy" value="buy">
    </form>

    <script>
        document.getElementById("buyP").addEventListener("change",(element)=>{
             document.getElementById("buyA").value = document.getElementById("buyP").value/document.getElementById("prix").innerText
        })
        document.getElementById("buyA").addEventListener("change",(element)=>{
            console.log("ddd")
             document.getElementById("buyP").value = document.getElementById("buyA").value*document.getElementById("prix").innerText
        })
    </script>